@model IEnumerable<CodeFirstApproch.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@{
    if(TempData["Create_Record"] != null){
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>success!</strong> @TempData["Create_Record"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["Update_Record"] != null){
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>success!</strong> @TempData["Update_Record"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (TempData["Delete_Record"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>success!</strong> @TempData["Delete_Record"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FatherName)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
